
spring:
  application:
    name: ad-package-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ad_package_service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

server:
  port: 0

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

rabbitmq:
  host: localhost
  port: 5672
  username: guest
  password: guest
  queue:
    info-log: infoLogQueue
    error-log: errorLogQueue

logging:
  level:
    root: INFO
    com.nbenliogludev: DEBUG


swagger:
  api:
    title: Ad package API Documentation.
    description: This is an API for Ad package management.
    version: 1.0.0